@font-face {
    font-family: SF pro;
    src: url(./sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    font-family: SF pro, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-image: url(https://www.apple.com/v/home/ck/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_large.jpg);
    background-size: cover;
    background-position: center;
}


#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 50px;
    background-color: #FFF;
    font-size: 15px;
    font-weight: 60px;

}

#nav a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#center h1 {
    font-size: 60px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#center h5 {
    font-size: 25px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

button {
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: royalblue;
    border: 1px solid black;
}

#L {
    color: white;

}

#s {
    color: royalblue;
    background: white;
    border: 1px solid black;
}
